<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Watch List" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-light d-flex justify-content-between m-2">
      <div class="logo"><i class="fa-regular fa-face-grin-stars"></i> MOVIES <i class="fa-solid fa-video"></i> </div>
      <%# <%= image_tag "/Users/darcyluo/code/darcyluojt/rails-watch-list/app/assets/images/logo.jpg", alt: "movie logo", width: 200 %>
      <div>
        <%= link_to "create my list", new_list_path %>
        <%= link_to 'Home', lists_path %>
      </div>
    </div>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
